<div class="bg-light px-4 py-2 d-flex flex-column justify-content-center align-items-center">
  <p class="gradient fw-semibold mb-0">Profile Viewer</p>
  <p class="text-black-50 fs-5">All users Profiles Listed</p>
</div>
<style>
  .gradient {
    font-size: clamp(2rem, 4vw, 5rem);
    background-image: linear-gradient(
      270deg,
      hsl(212deg 100% 60%) 0%,
      hsl(212deg 100% 58%) 8%,
      hsl(213deg 100% 57%) 17%,
      hsl(213deg 100% 56%) 25%,
      hsl(214deg 100% 56%) 33%,
      hsl(215deg 100% 56%) 42%,
      hsl(217deg 100% 56%) 50%,
      hsl(220deg 100% 57%) 58%,
      hsl(222deg 100% 58%) 67%,
      hsl(226deg 100% 60%) 75%,
      hsl(229deg 100% 61%) 83%,
      hsl(233deg 100% 63%) 92%,
      hsl(238deg 100% 64%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
